* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  padding: 40px;
  border: 1px solid black;
  border-radius: 10px;
}

.messageList {
  height: 80vh;
  border: 1px solid black;
  overflow-y: auto;
}
